[Unit]
Description=jaraco.com website
After=network.target

[Service]
WorkingDirectory=%(install_root)s
Environment=PYTHONUSERBASE=%(install_root)s PORT=5000
ExecStartPre=/bin/mkdir -p %(install_root)s/var/log
ExecStart=%(install_root)s/bin/cherryd -i jaraco.site.run > var/log/stdout.log 2> var/log/stderr.log

[Install]
WantedBy=multi-user.target
