/*
 * Quick mash-up of CSS for the TG quick start page.
 */

html, body {
  color: black;
  background-color: #ddd;
  font: x-small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  margin: 0;
  padding: 0;
}

td, th {padding:3px;border:none;}
tr th {text-align:left;background-color:#f0f0f0;color:#333;}
tr.odd td {background-color:#edf3fe;}
tr.even td {background-color:#fff;}

#header {
	height: 80px;
	width: 100%;
	background: #00a;
	text-align: center;
	font-family: 'Tangerine', serif;
	text-shadow: 4px 4px 4px #aaa;
}

#header p
{
	color: white;
	margin: 0;
	padding-top: 20px;
	font-size: 20pt;
}

a.link, a, a.active {
  color: #369;
}


#main_content {
  color: black;
  font-size: 127%;
  background-color: white;
  width: 100%;
  padding: 1px 0;
  margin: 0;
}

#sidebar {
  border: 1px solid #aaa;
  background-color: #eee;
  margin: 0.5em;
  padding: 1em;
  float: right;
  width: 200px;
  font-size: 88%;
}

#sidebar h2 {
  margin-top: 0;
}

#sidebar ul {
  margin-left: 1.5em;
  padding-left: 0;
}

#footer {
  color: #999;
  background-color: white;
  font-size: 80%;
  text-align: center;
  width: 100%;
  margin: 0 auto 0 auto;
}

.code {
  font-family: monospace;
}

span.code {
  font-weight: bold;
  background: #eee;
}

#status_block {
  margin: 0 auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  background: #cec URL('../images/ok.png') left center no-repeat;
  border: 1px solid #9c9;
  width: 450px;
  font-size: 120%;
  font-weight: bolder;
}

.notice {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #eef URL('../images/info.png') left center no-repeat;
  border: 1px solid #cce;
}

.fielderror {
    color: red;
    font-weight: bold;
}

#menu {
	float: right;
	margin: 20px;
	padding: 10px;
	background-color: #ddd;
}

.home-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://www.dropbox.com/s/bimsziy0q0hw954/2013-08-02%2021.07.08.jpg?raw=1) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.icon > svg { display: inline-block; width: 16px; height: 16px; vertical-align: middle; }
.icon > svg * { fill: white; }
.icon > svg:hover * { fill: #8792a7; }
.icon > svg text { display: none; }

.home-content { color: white; font-family: 'Tangerine', sans-serif; width: 100%; height: 100%; display: table; text-align: center; }

.home-content .center { display: table-cell; vertical-align: middle; }

.home-title { display: inline-block; font-size: 33px; }
.home-title hr { border: 0; border-top: 2px solid #ffffff; margin: -1px; }

.home-subtitle { font-size: 20px; }

.site-footer { position: absolute; left: 35px; bottom: 10px; }
