<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
	<meta name="description" content="Personal website of Jason R. Coombs" />
	<title>jaraco.com</title>
</head>

<body>

	<div class="home-background">

		<header class="site-header" />

		<div class="home-content">
			<div class="center">
				<div class="home-title">
					Jason R. Coombs
					<hr/>
					<div class="home-subtitle">
						...
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="site-footer">

	<py:for each="icon in icons">${Markup(icon.render())}</py:for>

	<a href="https://pypi.org/user/jaraco/" target="_top">
		<span class="icon">
			<img style="width: 38px; height: 38px; position: relative; top: 15px;" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Python.svg" />
		</span>
	</a>

	</footer>

</body>

</html>
